body {
  margin: 0;
}

#logo-img {
  margin-right: 1rem;
}

#map {
  height: calc(100vh - 4rem);
}

header {
  padding: 0 1rem 0 1rem;
}

#minZoomRequired {
  color: aliceblue;
  margin: 1em;
  padding: 1.5em;
  border: 0px;
  background-color: #1c1b1d;
  border-radius: 1em;
  font-size: 1.5em;
}

.image {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.dark-map-tiles {
  filter: brightness(0.6) invert(1) contrast(4) hue-rotate(200deg) saturate(0.4)
    brightness(0.7);
}
