// -- Back-end configuration --
export const BASE_URL_API = "${API_PROTOCOL}://${BACKEND_DOMAIN_NAME}/api";

// -- OpenStreetMap App configuration (for contributions) --
export const OSM_API_URL = "https://api.openstreetmap.org";
export const CLIENT_ID_OSM_APP = "${CLIENT_ID_OSM_APP}";
export const DOMAIN_NAME = "${API_PROTOCOL}://${FRONTEND_DOMAIN_NAME}";

// -- Map configuration --
export const MAP_INITIAL_CENTER = [48.8566, 2.3522]; // LatLng object (see: https://leafletjs.com/reference.html#latlng)
export const MAP_MAX_BBOX = [
  [55.71473, 16.17187],
  [37.03763, -14.15039],
]; // If set, the user can't go out of this bbox on the map
export const MAP_INITIAL_ZOOM = 11;
export const MAP_MIN_ZOOM = 6;
