proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=my_api_cache:10m max_size=1g inactive=60m use_temp_path=off;

server {
    listen 80;
    server_name ${BACKEND_DOMAIN_NAME};

    location / {
        proxy_pass http://web:8000;
        
        proxy_cache my_api_cache;
        proxy_cache_valid 200 302 10m;
        proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
        add_header X-Proxy-Cache $upstream_cache_status;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        add_header Access-Control-Allow-Origin * always;
    }
}

server {
    listen 80;
    server_name ${FRONTEND_DOMAIN_NAME};

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
