# Caching paths
proxy_cache_path /var/cache/nginx/cameras levels=1:2 keys_zone=cameras_cache:20m max_size=5g;
proxy_cache_path /var/cache/nginx/focus levels=1:2 keys_zone=focus_cache:20m max_size=5g;

# --- COMPRESSION SETTINGS ---
# Gzip (Fallback for older browsers)
gzip on;
gzip_vary on;
gzip_proxied any;
gzip_comp_level 6;
gzip_types text/plain text/css text/xml application/json application/javascript application/rss+xml application/atom+xml image/svg+xml;

# Brotli (Modern, higher compression)
brotli on;
brotli_comp_level 6;
brotli_static on;
brotli_types text/plain text/css text/xml application/json application/javascript application/rss+xml application/atom+xml image/svg+xml;
# ----------------------------

server {
    listen 80;
    listen [::]:80;
    server_name ${FRONTEND_DOMAIN_NAME} ${BACKEND_DOMAIN_NAME};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${FRONTEND_DOMAIN_NAME};

    ssl_certificate /etc/letsencrypt/live/${FRONTEND_DOMAIN_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${FRONTEND_DOMAIN_NAME}/privkey.pem;

    root /usr/share/nginx/html;
    index index.html;

    location ~* ^/(images|static|packages)/ {
        expires 30d;
        add_header Cache-Control "public, no-transform";

        access_log off;
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${BACKEND_DOMAIN_NAME};

    ssl_certificate /etc/letsencrypt/live/${FRONTEND_DOMAIN_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${FRONTEND_DOMAIN_NAME}/privkey.pem;

    set $bypass_cache 0;
    if ($http_x_purge_token = ${NGINX_CACHE_SECRET_KEY}) {
        set $bypass_cache 1;
    }

    location /api/cameras {
        proxy_pass http://web:8000;

        proxy_cache cameras_cache;
        proxy_cache_key "$request_uri";
        proxy_cache_valid 200 204 365d;
        proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
        add_header X-Cache-Status $upstream_cache_status;

        # If bypass_cache is 1, Nginx fetches from Django and overwrites the cache
        proxy_cache_bypass $bypass_cache;
        proxy_ignore_headers Vary;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        add_header Access-Control-Allow-Origin * always;
    }

    location /api/focus {
        proxy_pass http://web:8000;

        proxy_cache focus_cache;
        proxy_cache_key "$request_uri";
        proxy_cache_valid 200 204 365d;
        proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
        add_header X-Cache-Status $upstream_cache_status;

        # If bypass_cache is 1, Nginx fetches from Django and overwrites the cache
        proxy_cache_bypass $bypass_cache;
        proxy_ignore_headers Vary;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        add_header Access-Control-Allow-Origin * always;
    }

    location / {
        proxy_pass http://web:8000;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        add_header Access-Control-Allow-Origin * always;
    }
}
